body {
    background-color: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    padding-top: 70px;
}
.container {
    max-width: 800px;
    margin: auto;
}

h1 {
    color: #e50914;
    text-align: center;
    margin-bottom: 30px;
}

form {
    background-color: rgba(101, 101, 101, 0.76);
    padding: 20px;
    border-radius: 10px;
}

label, input[type="checkbox"] {
    color: #ddd;
}

.alert {
    margin-top: 30px;
    text-align: center;
    background-color: #212529;
    border-color: #333;
}

.alert-primary {
    color: #dddddd;
}
.mb-0{
     color: #cc0812;
    font-weight: bold;
    font-size: larger;
 }
.form-control{
    text-align: center;
}
.form-check-label{
    cursor: pointer;
}
.btn{
    background: #cc0812;
    color: white;
    font-weight: bold;
    border-color: transparent;

}
.btn:active,
.btn:hover{
    background: #cc0812;
    border-color: transparent;
    color: white;
}

.btn-secondary{
    background: #6c757d
}
.btn-secondary:hover{
    background: #5f6367;
    border-color: transparent;
}

h4{
    text-align: center;
}
#note-label{
    color: #b0a9a9;
    margin-top: 10px;
    margin-bottom: 0;
    font-style: italic;
}
