{% extends 'base.html'  %}
{% load static %}
{% block  stylesheet %}{% endblock %}
{% block  title %}Entertainment App{% endblock %}
{% block  content %}
    <div class="container">
    <h1 class="mb-4 text-center">Entertainment App</h1>
    <div class="row">
        <div class="col-md-6 mb-4">
            <a href="{% url 'redirect_to_joke_page' %}?page=random" target="_blank" class="card app-card text-center">
                <img style="padding-top: 8px" src="{% static 'images/dices.png' %}" class="card-img-top" alt="Random Jokes App">
                <div class="card-body">
                    <h5 class="card-title">Random Dad Joke</h5>
                </div>
            </a>
        </div>

        <div class="col-md-6 mb-4">
            <a href="{% url 'redirect_to_joke_page' %}?page=search" target="_blank" class="card app-card text-center">
                <img style="padding-top: 8px" src="{% static 'images/lens.png' %}" class="card-img-top" alt="Search a Joke Page">
                <div class="card-body">
                    <h5 class="card-title">Search for Dad Jokes</h5>
                </div>
            </a>
        </div>

        <div class="col-md-6 mb-4">
            <a href="{% url 'redirect_to_joke_page' %}?page=chandler" target="_blank" class="card app-card text-center">
                <img style="padding-top: 8px" src="{% static 'images/chandler.png' %}" class="card-img-top" alt="Chandler bing">
                <div class="card-body">
                    <h5 class="card-title">Chandler Comments</h5>
                </div>
            </a>
        </div>
        <div class="col-md-6 mb-4">
            <a href="{% url 'redirect_to_joke_page' %}?page=seinfeld" target="_blank" class="card app-card text-center">
                <img  src="{% static 'images/seinfled.png' %}" class="card-img-top" alt="seinfeld">
                <div class="card-body">
                    <h5 class="card-title">Seinfeld Quotes</h5>
                </div>
            </a>
        </div>

    </div>
</div>
{% endblock %}
